
<h1>
    Codeial / <%= title %>
</h1>


<section id="feed-posts">
    <h4>Posts</h4>
    <% if (locals.user) { %>
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="Type Here..."></textarea>
        <input type="submit" value="Post">
    </form>
    <% } %>

    <div id="posts-list-container">
        <ul>
            <% for(post of posts){ %>  
            <%- include('_post') -%>    
            <%} %>
        </ul>
    </div>
</section>  

<section id="user-friends">
    <h4>Friends</h4>
    <% for(u of all_users) { %>
        <p>
            <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
        </p>
    <% } %>
</section>
<%- include('_chat_box') -%>    

<script src="/scripts/home_posts.js"></script>
<script src="/scripts/home_comments.js"></script>
<script src="/scripts/toggle_likes.js"></script>
<script>
    $(".toggle-like-button").each(function(){
        let self = this;
        let toggleLike = new ToggleLike(self);
    })
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js" integrity="sha512-MgkNs0gNdrnOM7k+0L+wgiRc5aLgl74sJQKbIWegVIMvVGPc1+gc1L2oK9Wf/D9pq58eqIJAxOonYPVE5UwUFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- this chat_engine will be communicating from the client side -->
<!-- chat_sockets.js will be the server/observer -->

<script src="/scripts/chat_engine.js"></script>