
<h1>
    Codeial / <%= title %>
</h1>


<section id="feed-posts">
    <h4>Posts</h4>
    <% if (locals.user) { %>
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="Type Here..."></textarea>
        <input type="submit" value="Post">
    </form>
    <% } %>

    <div id="posts-list-container">
        <ul>
            <% for(post of posts){ %>  
            <li>
                <div>
                    <%= post.content %>
                    <small>
                        <%= post.user.name %>
                    </small>
                </div>   
                <div class="post-commets">
                    <%if(locals.user) { %>
                        <form action="comments/create" method="post">
                            <input type="text" name="content" placeholder="type here to add comment">
                            <input type="hidden" name="post" value="<%= post._id %>">
                            <input type="submit" value="ADD COMMENT">
                        </form>
                    <% } %>
                </div>
                <div class="post=comments=list " style="border: 1px solid coral;">
                    <h3>comments</h3>
                    <ul id="post-comments-<%= post._id %>">
                        <% for(comment of post.comments) { %>
                            <li>
                                <p><%= comment.content %></p>
                                <small><%= comment.user.name %></small>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </li>    
            <%} %>
        </ul>
    </div>
</section>  